{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
		<script src="{% static "js/jquery.cookie.js" %}"></script>
		<script src="{% static "js/lab6.js" %}"></script>
	</head>
	<body>
		<h1>{{ title }}</h1>
		<a href="{% url 'categories' %}">Categorias</a>
		<a href="{% url 'items' %}">Items</a><br>
		<h1>Crear elementos</h1>
		<a href="{% url 'add-category' %}">Crear Categoria</a>
		<a href="{% url 'add-item' %}">Adicionar item</a>
	</body>
</html>