<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}">
		<link rel="stylesheet" href="{% static "css/jquery-ui.structure.min.css" %}">
		<link rel="stylesheet" href="{% static "css/jquery-ui.theme.min.css" %}">
		
		<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
		<script src="{% static "js/jquery.cookie.js" %}"></script>
		<script src="{% static "js/jquery-ui.min.js" %}"></script>
		<script src="{% static "js/lab7.js" %}"></script>		
		{# Bloque de codigo para extender #}
		{% block extrahead %}{% endblock %}
	</head>
	<body>
		<!-- comentario HTML -->
		{% block body %} {%endblock %}
	</body>
</html>